<div class="row">

  <div class="col-md-2">

  </div>

  <div class="col-md-8">

    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-10">
        <h4>Sign Up</h4>
        <p>To register, enter the following information.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label>Name:</label>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" />
      </div>
      <div class="col-md-5">
        <input class="form-control" type="text" [(ngModel)]="user.lastName" placeholder="Last Name" name="lastName" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-3" *ngIf="!emailAddressNotUnique">
        <label>Email:</label>
      </div>
      <div class="col-md-3 btn-warning" *ngIf="emailAddressNotUnique">
        <label>Email:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" type="text" [(ngModel)]="user.email" placeholder="Email Address" name="emailAddress" />
      </div>
    </div>

    <div class="row">
       <div class="col-md-12 btn-warning" *ngIf="emailAddressNotUnique">
        STOP! Please enter another email address. This is already in the database.
      </div>

    </div>

    <div class="row">
      <div class="col-md-3">
        <label>User Name:</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" type="text" [(ngModel)]="user.userName" placeholder="Username" name="username" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label>Password:</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" type="password" [(ngModel)]="user.pword" placeholder="Password" name="password" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 text-center">
        <button class="btn btn-info m-2" type="button" (click)="Reset()">Reset</button>
        <button class="btn btn-success m-2" type="submit" (click)="SignUp()">Sign Up</button>
      </div>
    </div>

    <div class="col-md-2">

    </div>

  </div>