<div class="jumbotron text-center">
  <h1>Videos</h1>
</div>

<div class="row">

  <div class="col-md-2">
  </div>

  <div class="col-md-8 text-center">
    <!-- original width=560 height=315 -->
    <iframe width="448" height="252" class="adjust-video-for-mobile" src="https://www.youtube.com/embed/TTqycY9a6Vw" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <div class="col-md-2">
  </div>

</div>

<div class="row">

  <div class="col-md-2">
  </div>

  <div class="col-md-8 text-center pt-2">
    <!-- original width=560 height=315 -->
    <iframe width="448" height="252" class="adjust-video-for-mobile" src="https://www.youtube.com/embed/_2CQCfrbcMc" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <div class="col-md-2">
  </div>
</div>

<div class="row">

  <div class="col-md-2">
  </div>

  <div class="col-md-8 text-center btn-lg">
      <input text="button" class="btn btn-info btn-lg m-2" (click)="pricingInfo()" value="Pricing Info"><br>    
      <input text="button" class="btn btn-success btn-lg m=2" (click)="signUpNow()" value="Sign Up Now!">
  </div>

  <div class="col-md-2">
  </div>

</div>