<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <div class="panel-heading">
      <h4>Sign In</h4>
    </div>

    <div class="panel-body">
      <div class="input-group" style="width: 250px">
        <input class="form-control" type="text" [(ngModel)]="userName" placeholder="Username" name="username" />
      </div>
      <div class="input-group" style="width: 250px">
        <input class="form-control" style="width: 200px" type="text" [(ngModel)]="userPassword" placeholder="Password" name="password"
        />
      </div>
      <p>
        <a routerLink="forgot-password">Forgot your password?</a>
      </p>
      <p class="alert alert-danger" *ngIf="signInAttemptFailed">
        Login failed!  Please try again.
      </p>
      <div class="input-group">
        <input type="button" value="Reset" (click)="Reset()" />
        <input type="button" value="Sign In" (click)="SignIn()" />
      </div>
    </div>
  </div>

  <div class="col-md-4">
  </div>

</div>
<!--
  
<p>Form 2:</p>  
<div class="col-md-6 col-md-offset-3">
<form (ngSubmit)="testThenDelete()" name="myform" id="myform" >
  <input type="text" placeholder="user name" required />
  <input type="text" placeholder="pass word" required />
  <button type="submit" value="Submit">Submit</button>
</form>
</div>

-->