<h1>Privacy Policy</h1>

<p>We at Databasetraining.com (a property of Corbinian, Inc.) manage our own website.</p>

<p>The purpose of this website is to be a resource and business tool to you, our customer. It is important to us that you feel
  secure while visiting our site, and we are committed to protecting your privacy when you do.</p>

<p>We may gather information on this site directly, such as when you fill out an online form to provide us with your contact
  information. We also gather indirect information by way of Internet log access records.</p>

<p>We may use cookies for purposes of tracking your activity on the web. We are using Google's analytics tools to accomplish
  this goal. However, we do not share the results with anyone else. Our site implements no cookie sharing features with other
  sites.
</p>

<p>We use MailChimp to manage our mailing list. We do not rent out your contact information, nor do we sell it. It is retained
  by DatabaseTraining.com for the sole purpose of communicating with you about the services offered here at DatabaseTraining.com.
</p>

<p>In the event we ask for any sensitive data, such as financial information, social security numbers, etc., you will clearly
  understand if we are doing this, and you will have the option of refusing to provide it.</p>

<p>Furthermore, any transmission of sensitive data is performed with Secure Socket Layer (SSL) and digital certificate verification,
  along with state of the art encryption. Your browser will show this clearly with the non-broken "key" symbol.</p>

<p>In short, your privacy and your information is safe and secure with us. Enjoy your time here, and thank you for visiting
  our website. And please contact us with any questions, concerns, or comments you may have. Our email address is below.
</p>

<p>To contact us, <a routerLink="/contact">please click here</a>.</p>