<h4>Pricing</h4>

<table class="table" style="width=350px">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Exams</th>
      <th>Duration</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plan of plans" (click)="buyPlan(plan.id)">
      <td>{{ plan.id }}</td>
      <td>{{ plan.title }}</td>
      <td>{{ plan.exams }}</td>
      <td>{{ plan.duration}}</td>
      <td>{{ plan.price }}</td>
      <td>
        <button class="btn btn-success" type="submit" (click)="buyPlan(plan.id)">Buy Now!</button>
      </td>
    </tr>
  </tbody>

</table>