<div class="jumbotron text-center">
  <h1>Pricing</h1>
  <hr  />
  <p>All plans include full access to the exams, 24x7, with the ability to take each exam as often as you wish.</p>
</div>

<div class="row">
  <div class="col-md-4 text-center p-3 highlightit" *ngFor="let plan of plans" (click)="buyPlan(plan.id)">
      <h2>{{ plan.title }}</h2>
      <h4>Exams: {{ plan.exams }}</h4>
      <h4>Duration: {{ plan.duration}}</h4>
      <h4>{{ plan.price | currency }}</h4>
      <button class="btn btn-info m-1 btn-sm" type="submit" (click)="learnMore(plan.id)">Learn More</button>
      <button class="btn btn-success m-1" type="submit" (click)="buyPlan(plan.id)">Buy Now!</button>
  </div>
</div>
