<h4>List of available exams</h4>

<p *ngIf="!exams_loaded" style="color:brown">
  Loading Exams .... please wait a moment ...
</p>

<div (examSelected)="gotIt($event)" >
<ul>
  <div *ngFor="let exam of exams" (click)="examClicked(exam.id)" style="cursor: pointer">
    <li>ID: {{ exam.id }}. {{exam.title}}</li>
    <ul>
      <li>{{ exam.description }}</li>
    </ul>
    <!-- <app-recipe-summary [recipe]="recipe" (zoomIn)="zoomInOnRecipe(recipe)" (userClickEmitter)="userClickedOnRecipe($event)"></app-recipe-summary> -->
  </div>
</ul>
</div>
