<h4>List of available exams</h4>

<p *ngIf="!exams_loaded" style="color:brown">
  Loading Exams .... please wait a moment ...
</p>

<div (examSelected)="gotIt($event)">
  <ul>
    <div *ngFor="let exam of exams" (click)="examClicked(exam.id)" style="cursor: pointer" ng-mouseover="rowStyle={'background-color': 'red'}; grid.appScope.onRowHover(this);">
      <div matTooltip="Click to see detail." matTooltipShowDelay="1000">
        <li>ID: {{ exam.id }}. {{exam.title}} | {{ exam.description }} </li>
      </div>
      <!-- <app-recipe-summary [recipe]="recipe" (zoomIn)="zoomInOnRecipe(recipe)" (userClickEmitter)="userClickedOnRecipe($event)"></app-recipe-summary> -->
    </div>
  </ul>
</div>

<div>
  <input class="button" type="button" value="Add New Exam" (click)="addNewExam()" />
</div>