<h4>List of available exams</h4>

<p *ngIf="!exams_loaded" style="color:brown">
  Loading Exams .... please wait a moment ...
</p>

<div (examSelected)="gotIt($event)">
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Launch</th>
    </thead>
    <tbody>
      <tr *ngFor="let exam of exams" ng-mouseover="rowStyle={'background-color': 'red'}; grid.appScope.onRowHover(this);"
        matTooltip="Click to see detail." matTooltipShowDelay="1000">
        <td>{{ exam.id }}.</td>
        <td>{{ exam.title }} </td>
        <td>{{ exam.description }}</td>
        <td><button class="btn btn-success" (click)="examClicked(exam.id)" style="cursor: pointer">Edit</button></td>
        <td><button class="btn btn-success" (click)="launchExam(exam.id)">Launch Exam</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="button-group" *ngIf="getLoggedInStatus()">
  <button type="submit" class="btn btn-success" (click)="addNewExam()"><span class="glyphicon glyphicon-plus"></span> Add New Exam</button>
</div>