<div>
  <table>
    <tr>
      <td>Title:</td>
      <td>{{ exam.title }}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{ exam.description }}</td>
    </tr>
  </table>
</div>

<table>
  <div *ngFor="let question of theExamQuestions" style="cursor: pointer">
    <div class="input-group">
      <tr>
        <td> {{ question.questionId }} </td>
        <td> {{ question.questionText }} </td>
        <td><input type="button" value="EDIT" /></td>
        <td><input type="button" value="DELETE" /></td>
      </tr>
    </div>
  </div>
  <div>
    <tr>
      <td><input type="button" value="Add Question" /></td>
    </tr>
  </div>
</table>