<div style="background-color: lightcyan">
  <!-- Row 1 -->
  <div class="row">
    <div class="col-md-2">
      Id:
    </div>
    <div class="col-md-10">
      {{ exam.id }}
    </div>
  </div>

  <!-- Row 2 -->
  <div class="row">
    <div class="col-md-2">
      Title:
    </div>
    <div class="col-md-10">
      {{ exam.title }}
    </div>
  </div>

  <!-- Row 3 -->
  <div class="row">
    <div class="col-md-2">
      Description:
    </div>
    <div class="col-md-10">
      {{ exam.description }}
    </div>
  </div>

  <!-- Row 4 -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <button type="button" class="btn btn-primary p-2 m-1" (click)="editExamInfo()"><span class="glyphicon glyphicon-edit"></span> Edit Exam Info</button>
      <button type="button" class="btn btn-primary p-2 m-1" (click)="printExamInfo()"><span class="glyphicon glyphicon-print"></span> Print Exam</button>
    </div>
  </div>
</div>

<!-- Row 5 -->
<div class="row">
  <div class="col-md-12">
    <h3 class="h3">Questions</h3>
  </div>
</div>

<!-- Row 6 -->
<div class="row" *ngFor="let question of theExamQuestions" style="cursor: pointer" (click)="editQuestion(question.questionId)">
  <div class="col-md-1">
    {{ question.questionId }}
  </div>
  <div class="col-md-8">
    {{ question.questionText }}
  </div>
  <div class="col-md-3">
    <button type="submit" class="btn btn-success" (click)="editQuestion(question.questionId)">
      <span class="glyphicon glyphicon-edit"></span> Edit</button>
    <button type="submit" class="btn btn-success" (click)="deleteQuestion(question.questionId)">
      <span class="glyphicon glyphicon-trash"></span> Delete</button>
  </div>
</div>

<!-- Row 7 -->
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
    <button type="submit" class="btn btn-success" (click)="addQuestion()"><span class="glyphicon glyphicon-plus"></span> Add Question</button>
  </div>
</div>