<h4>Edit Exam Questions</h4>

<table class="table">
  <tr>
    <td width=35px>Id:</td>
    <td>{{ exam.id }}</td>
  </tr>
  <tr>
    <td>Title:</td>
    <td>{{ exam.title }}</td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>{{ exam.description }}</td>
  </tr>
  <tr>
    <td></td>
    <td class="button-group" style="margin:10px">
            <button type="button" class="btn btn-success" (click)="editExamInfo()">Edit Exam Info</button>
    </td>
  </tr>
</table>

<table class="table">
<thead>
  <th colspan=3 align=center>Questions</th>
</thead>
  <tbody>
    <tr *ngFor="let question of theExamQuestions" style="cursor: pointer" (click)="editQuestion(question.questionId)">
      <td> {{ question.questionId }}</td>
      <td> {{ question.questionText }}</td>
      <td>
        <button type="submit" class="btn btn-success" (click)="editQuestion(question.questionId)">Edit</button>
      </td>
      <td>
        <button type="submit" class="btn btn-success" (click)="deleteQuestion(question.questionId)">Delete</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td colspan=3>
        <button type="submit" class="btn btn-success" (click)="addQuestion()">Add Question</button>
      </td>
    </tr>
  </tbody>
</table>