<div class="topnav" id="myTopnav">
    <a [routerLink]="['/']">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </a>
    <a style="float: right" [routerLink]="['editnewrecipe']">New Recipe</a>
    <p>
        <a href="/home">Home</a> |
        <a href="/login">Login</a> |
        <a href="/list">List</a> |
        <a href="/about">About</a> |
        <a href="/user-profile">User Profile</a>
    </p>
    <hr>
</div>
<div style="margin: 10px">
    <router-outlet></router-outlet>
    <hr>
    <app-dbt-footer></app-dbt-footer>
</div>