<div class="row">
  <div class="col-md-1">
  </div>

  <div class="col-md-11">
    <p>This website is the product of years of industry experience and expertise.</p>

    <p>The exams at this site were created by Steve O'Hearn, author of three highly-rated critically acclaimed books that are
      each offically reognized certification exam guides from McGraw-Hill and Oracle Press, an imprint of the Oracle Corporation.
      All books are published in close cooperation between McGraw-Hill and Oracle Corporation. </p>
  </div>

</div>
<div class="text-center">

  <a href="https://www.amazon.com/Oracle-Database-Guide-1Z0-071-Press/dp/1259585492" target="_blank"> <img class="p-1 m-1" width=255 border="0" src="../../../assets/images/Book_SQL_071.jpg" /> </a>
  <a href="https://www.amazon.com/Oracle-Database-Certified-Expert-1Z0-047/dp/0071614214/" target="_blank"> <img class="p-1 m-1" width=255 border="0" src="../../../assets/images/Book_SQL_047.jpg" /> </a>
  <a href="https://www.amazon.com/Developer-Program-Units-Exam-Guide/dp/0072193360" target="_blank"> <img class="p-1 m-1" width=255 border="0" src="../../../assets/images/Book_SQL_147.jpg" /> </a>
</div>

<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-11">
    The DatabaseTraining.com online exam system features a set of certification exams. Each feature the following capabilities:
    <ul>
      <li>Questions patterned after a particular professional certification exam</li>
      <li>Questions on each of the exam's published objective areas</li>
      <li>The option to follow the same timed test period as the published exam</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-11">
    <p>Exams are designed to simulate the real thing. However, our exams are just that - simulations - they are NOT the real
      thing. Once you complete your preparation by studying and taking our practice exams, you'll need to regster for the
      real exams and follow the instructions that come with that registration.</p>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-1">

  </div>
  <div class="col-md-11">

      <button type="button" class="btn btn-info p-2 m-2" (click)="goToComparePlans()"><span class="glyphicon glyphicon-fullscreen"></span> Compare Plans</button>
      <button type="button" class="btn btn-info p-2 m-2" (click)="goToWatchOurVideos()"><span class="glyphicon glyphicon-eye-open"></span> Watch Our Videos!</button>
      <button type="button" class="btn btn-success p-2 m-2" (click)="goToRegisterNow()"><span class="glyphicon glyphicon-log-in"></span> Register Now!</button>
      
  </div>
</div>