<div class="row">

    <div class="col-md-2">
    </div>

    <!-- For logged in users only -->
    <div *ngIf="getLoggedInStatus() && !flagUpdatingPost">
        <!-- For logged in users, show this initially -->
        <div class="col-md-8" *ngIf="flagEnableAdminFeature && !flagInsertingPost">
            <button type="button" class="btn btn-success btn-sm" (click)="displayInsertPostForm()">
                <span class="glyphicon glyphicon-plus"></span> Add New Post</button>
        </div>

        <!-- For logged in users, if user chooses to add a new post,  show this -->
        <div class="col-md-8" *ngIf="flagInsertingPost">
            <!-- Form for entering a new post -->
            <form #postEntryForm="ngForm" (ngSubmit)="insertPost(postEntryForm)">

                <div class="form-group">
                    <h5>Enter new post:</h5>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your post title" [(ngModel)]="post.title" name="theTitle" id="theTitle"
                        required ngModel />
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="4" cols="60" placeholder="Enter your post" [(ngModel)]="post.postContent" name="thePostContent"
                        id="thePostContent" required ngModel>
                </textarea>
                </div>
                <div class="display-block">
                    <button type="button" class="btn btn-warning btn-sm" (click)="postEntryForm.reset(); cancelNewPost(postEntryForm)">
                        <span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
                    <button type="submit" class="btn btn-success btn-sm" [disabled]="!postEntryForm.valid">
                        <span class="glyphicon glyphicon-save"></span> Save</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2">
    </div>

</div>
<div class="row">

    <div class="col-md-12 display-block">
        &nbsp;
    </div>
</div>

<div *ngFor="let post of posts">

    <div class="row">

        <div class="col-md-2">
            <div class="h-divider"></div>
            <!-- {{ post.userId }} -->
            
            <div class="font-italic">
                {{ post.postDate | date: 'EEE MMM d, yyyy hh:mm:ss aaa' }}
            </div>
        </div>

        <div class="col-md-10">
            <div class="h-divider"></div>

            <!-- Show this initially -->
            <div *ngIf="!flagUpdatingPost || flagDisplayUpdatePost_Id != post._id">
                <div class="display-block font-weight-bold">
                    {{ post.title }}
                </div>

                <div class="display-block p-1">
                </div>

                <div class="display-block bg-light line-breaker">
                    {{ post.postContent }}
                </div>

                <div class="display-block p-1">
                </div>

                <!-- For logged in users only -->
                <div class="display-block p-1">
                </div>
                <div *ngIf="getLoggedInStatus() && !flagUpdatingPost && !flagInsertingPost">
                    <div class="display-block" *ngIf="flagEnableAdminFeature">

                        <!-- Show this initially to logged in users only -->
                        <span *ngIf="!flagAreYouSure">
                            <button type="button" class="btn btn-danger btn-sm p-1 m-1" (click)="areYouSure(post._id)">
                                <span class="glyphicon glyphicon-trash"></span> Delete</button>
                            <button type="button" class="btn btn-success btn-sm" (click)="displayUpdatePostForm(post._id)">
                                <span class="glyphicon glyphicon-edit"></span> Edit</button>
                        </span>
                        <!-- If a user has clicked "Delete" then and only then show this "are you sure" sequence -->
                        <span *ngIf="flagAreYouSure && (flagAreYouSure_UserId == post._id)">
                            Are you sure you want to DELETE this?
                            <button type="button" class="btn btn-warning btn-sm display-inline m-1" (click)="resetDelete()">
                                <span class="glyphicon glyphicon-arrow-left"></span> NO</button>
                            <button type="button" class="btn btn-danger btn-sm display-inline p-1 m-1" (click)="deletePost(post._id)">
                                <span class="glyphicon glyphicon-trash"></span> YES</button>
                        </span>

                    </div>
                </div>

            </div>

            <!-- If user chooses to edit an existing post, show this -->
            <div class="col-md-8" *ngIf="flagUpdatingPost && flagDisplayUpdatePost_Id == post._id">
                <!-- Form for updating an existing post -->
                <form #postUpdateForm="ngForm" (ngSubmit)="updatePost(postUpdateForm)">
                    <div class="form-group">
                        <h5>Edit post:</h5>
                    </div>
                    <input type="hidden" [(ngModel)]="updateThisPost._id" name="_id" id="" />
                    <input type="hidden" [(ngModel)]="updateThisPost.userId" name="userId" id="" />
                    <input type="hidden" [(ngModel)]="updateThisPost.postDate" name="postDate" id="" />
                    <input type="hidden" [(ngModel)]="updateThisPost.keywords" name="keywords" id="" />
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your post title" [(ngModel)]="updateThisPost.title" name="title"
                            id="theTitle" required ngModel />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="10" cols="60" placeholder="Enter your post" [(ngModel)]="updateThisPost.postContent"
                            name="postContent" id="thePostContent" required ngModel>
                                    </textarea>
                    </div>
                    <div class="display-block">


                        <span *ngIf="!flagAreYouSure">
                            <button type="button" class="btn btn-danger btn-sm" (click)="areYouSure(post._id)">
                                <span class="glyphicon glyphicon-trash"></span> Delete</button>
                            <button type="button" class="btn btn-warning btn-sm" (click)="postUpdateForm.reset(); cancelUpdatePost(postUpdateForm)">
                                <span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
                            <button type="submit" class="btn btn-success btn-sm" [disabled]="!postUpdateForm.valid">
                                <span class="glyphicon glyphicon-refresh"></span> Update</button>
                        </span>
                        <span *ngIf="flagAreYouSure && (flagAreYouSure_UserId == post._id)">
                            Are you sure you want to DELETE this?
                            <button type="button" class="btn btn-warning btn-sm display-inline m-1" (click)="resetDelete()">
                                <span class="glyphicon glyphicon-arrow-left"></span> NO</button>
                            <button type="button" class="btn btn-danger btn-sm display-inline p-1 m-1" (click)="deletePost(post._id)">
                                <span class="glyphicon glyphicon-trash"></span> YES</button>
                        </span>


                    </div>
                </form>
            </div>

            <div *ngIf="flagEnableComments">

                <div class="display-block p-1">
                </div>

                <!-- Show this initially -->
                <div *ngIf="!flagDisplayEditForComment || flagDisplayEditForComment_Id != post._id">
                    <p>Comments
                        <input type="button" class="btn btn-success btn-sm" value="Edit" (click)="displayEditComment(post._id)" />
                    </p>
                </div>
                <!-- Show this if user chooses to edit a comment -->
                <form #commentInsertForm="ngForm" (ngSubmit)="updatePost(postUpdateForm)">
                    <div *ngIf="flagDisplayEditForComment && flagDisplayEditForComment_Id == post._id">
                        <div class="display-block">
                            <input type="hidden" name="_id">
                            <textarea rows="3" cols="40" placeholder="Enter a comment" required></textarea>
                        </div>
                        <input type="button" class="btn btn-warning btn-sm" value="Cancel" (click)="commentInsertForm.reset(); cancelEditComment(post._id)"
                        />
                        <input type="button" class="btn btn-success btn-sm" value="Save Comment" (click)="saveComment(post._id)" />
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>