<div class="jumbotron text-center pt-2">
    <h2>Welcome to the</h2>
    <h1>DatabaseTraining.com</h1>
    <h2>website!</h2>
</div>

<script>
    /* On screens that are 992px wide or less, the background color is blue */
    @media screen and(max - width: 992px) {
        adjust-video-for-mobile {
            background - color: blue;
            color: white;
        }
    }
</script>

<div class="row">
    <div class="col-md-4 text-center pt-2">
        <!-- original width=560 height=315 -->
        <iframe width="280" height="157" class="adjust-video-for-mobile" src="https://www.youtube.com/embed/TTqycY9a6Vw" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 text-center pt-2">
        <p>The definitive source of online mock certification practice exams!</p>
        <p>Our exams are created by published authors of offical certification exams.</p>
    </div>
    <div class="col-md-4 text-center pt-2">
        <!-- original width=560 height=315 -->
        <iframe width="280" height="157" class="adjust-video-for-mobile" src="https://www.youtube.com/embed/_2CQCfrbcMc" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>