<div class="jumbotron text-center pt-2">
    <h2>Welcome to the</h2>
    <h1>Database Training</h1>
    <h2>website!</h2>
    <h6>
        <i>Online at DatabaseTraining.com</i>
    </h6>
    <h3>Online certification exam</h3>
    <h3> to help you prepare for the real thing!</h3>
    <button type="button" class="btn btn-info p-2 m-2" (click)="comparePlans()"><span class="glyphicon glyphicon-fullscreen"></span> Compare Plans</button>
    <button type="button" class="btn btn-info p-2 m-2" (click)="watchOurVideos()"><span class="glyphicon glyphicon-eye-open"></span> Watch Our Videos!</button>
    <button type="button" class="btn btn-success p-2 m-2" (click)="registerNow()"><span class="glyphicon glyphicon-log-in"></span> Register Now!</button>
</div>

<div class="row">
    <div class="col-md-4 text-center pt-2">
        <!-- original width=560 height=315 -->
        <iframe width="280" height="157" class="adjust-video-for-mobile" src="https://www.youtube.com/embed/TTqycY9a6Vw" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="col-md-4 text-center pt-2" style="background-color">
        <p>The definitive source of online mock certification practice exams!</p>
        <p>Our exams are created by published authors of offical certification exams.</p>
    </div>

    <div class="col-md-4 text-center pt-2">
        <!-- original width=560 height=315 -->
        <iframe width="280" height="157" class="adjust-video-for-mobile" src="https://www.youtube.com/embed/_2CQCfrbcMc" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="col-md-4 text-center pt-2 adjustformobile ">
        <!-- original  width=560 height=315 -->
        <iframe width="280" height="157" src="https://www.youtube.com/embed/C1TFpRWjFzM" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>



    <div class="col-md-4 text-center pt-2 ">
        <p class="">TESTIMONIALS</p>
    </div>

    <div class="col-md-4 text-center pt-2 ">
        <p class="">
            <!-- original width=600 height=360 -->
            <iframe width="280" height="157" src="https://player.vimeo.com/video/53973284" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen></iframe>

        </p>
    </div>

</div>