<div class="jumbotron text-center pt-2">
    <h2>Welcome to the</h2>
    <h1>Database Training</h1>
    <h2>website!</h2>
    <h6>Online at DatabaseTraining.com</h6>
    <p>Online certification exam to help you prepare for the real thing!</p>
    <button class="btn btn-info" (click)="comparePlans()">Compare Plans</button>
    <button class="btn btn-info" (click)="watchOurVideo()">Watch Our Video!</button>
    <button class="btn btn-success" (click)="registerNow()">Register Now!</button>
</div>

<div class="row">
    <div class="col-md-4 text-center pt-2">
        <!-- original width=560 height=315 -->
        <iframe width="280" height="157" class="adjust-video-for-mobile" src="https://www.youtube.com/embed/TTqycY9a6Vw" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    
    <div class="col-md-4 text-center pt-2" style="background-color">
        <p>The definitive source of online mock certification practice exams!</p>
        <p>Our exams are created by published authors of offical certification exams.</p>
    </div>

    <div class="col-md-4 text-center pt-2">
        <!-- original width=560 height=315 -->
        <iframe width="280" height="157" class="adjust-video-for-mobile" src="https://www.youtube.com/embed/_2CQCfrbcMc" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="col-md-4 text-center pt-2 adjustformobile ">
        <p class="isThisWorking">Access Free Today</p>
    </div>

    <div class="col-md-4 text-center pt-2 ">
        <p class="">TESTIMONIALS</p>
    </div>

    <div class="col-md-4 text-center pt-2 ">
        <p class="">NO RISK</p>
    </div>

    <div class="col-md-4 text-center pt-2 ">
        <p class="">NO RISK</p>
    </div>

    <div class="col-md-4 text-center pt-2 ">
        <p class="">NO RISK</p>
    </div>

    <div class="col-md-4 text-center pt-2 ">
        <p class="">NO RISK</p>
    </div>

</div>