<div>
<table>
  <tr><td>{{ exam.title }}</td></tr>
  <tr><td>{{ exam.description }}</td></tr>
</table>
</div>

<div class="input-group" style="margin:10px">
  <div class="input-group" >
    {{ theQuestion.questionId }}
    <input class="form-control" type="text" [(ngModel)]="theQuestion.questionText" placeHolder="Question" />
  </div>
  <div class="input-group" style="margin:10px">
      <input type="button" value="Reset" (click)="Reset()" />
      <input type="button" value="Save and Continue" (click)="saveQuestion()" />
    </div>
</div>