<div>
  <table>
    <tr>
      <td>Title:</td>
      <td>{{ exam.title }}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{ exam.description }}</td>
    </tr>
  </table>
</div>

<table>
  <div class="input-group" style="margin:10px">
    <tr>
      <div class="input-group" style="width:250px">
        <td>
          <input class="form-control" type="text" [(ngModel)]="theQuestion.questionId" style="width:50px" placeHolder="Question" />
        </td>
        <td>
          <input class="form-control" type="text" [(ngModel)]="theQuestion.questionText" style="width:175px" placeHolder="Question"
          />
        </td>
      </div>
    </tr>

    <table>
      <thead>
        <th>#</th>
        <th>Answer Text</th>
        <th>Correct answer?</th>
      </thead>
      <tbody>
          <tr *ngFor="let answer of theExamAnswers">
            <td>
              <input class="form-control" type="text" [(ngModel)]="answer.answerId" style="width:50px" placeholder="Enter Answer Number Here"
              />
            </td>
            <td>
              <input class="form-control" type="text" [(ngModel)]="answer.answerText" placeholder="Enter Answer Here" />
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input class="form-control" type="checkbox" [(ngModel)]="answer.correctOrNot" value="True" />Correct</label>
              </div>
            </td>
          </tr>
      </tbody>
    </table>

    <div class="input-group" style="margin:10px">
      <input type="button" value="Cancel" (click)="cancelEditQuestion()" />
      <input type="button" value="Save Question and Continue" (click)="saveQuestion()" />
    </div>
  </div>